.select-page {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-page h1 {
  margin: 15px;
  flex-grow: 0;
}

.select-page .no-categories {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.select-page .no-categories h3 {
  flex-grow: 0;
}

.img-container {
  height: 350px;
  margin: 5px auto 20px;
  flex-grow: 2;
  align-self: stretch;
}

.select-page img {
  height: 100%;
  width: 90vw;
  object-fit: cover;
  box-shadow: 0 5px 10px 5px var(--light-gray);
}

.select-page h3 {
  flex-grow: 1;
  margin: 5px 15px;
}

.action {
  display: flex;
  justify-content: center;
  gap: 30vw;
  flex-grow: 0.5;
  margin: 5px 0 15px;
}

.select-page button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--light);
  font-size: inherit;
  padding: 8px 40px;
  margin: 0 15px 15px;
}