@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
  
:root {
  --primary-color: #1a472a;
  --secondary-color: #2a623d;
  --dark-gray: #5d5d5d;
  --light-gray: #aaa;
  --dark: #000;
  --light: #f4f4f4;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100dvh;
}